.header__title {
    text-transform: uppercase;
    text-align: center;
    text-shadow: 3px 0px 0px #a07b24d3;
    font-size: 80px;
    font-family: 'Montserrat Subrayada', sans-serif;
    max-width: 1000px;
    margin: 30px 50px;
}
